﻿/**
 *
 *
 * IE CSS
 *
 * CSS targeted specifically for Internet Explorer for Windows.
 *
 * Properties starting with an underscore _ are for IE 5 and 6 only.
 * Properties starting with head:first-child+body are for IE7 only.
 * Properties with a child selector (>) or sibling selector (+) are for IE7 only.
 *
 */

/*
 * Layout CSS
 */

/** body **/
#site-title span {
	display:none;
}

.sidebar {
	_margin-right:1em;
}
#rss {
	_margin:1.3em .75em 0 0;
}

.indicator {
	margin:0;
}

/* Prevent fieldsets from shifting when changing collapsed state. */
html.js fieldset.collapsible {
	position: static;
	top: -1em;
}

html.js fieldset.collapsed {
	top: 0;
	margin-bottom: 1em;
}

tr.menu-disabled {
	/* Use filter to emulate CSS3 opacity */
	filter: alpha(opacity=50);
}

tr.taxonomy-term-preview {
	filter: alpha(opacity=50);
}
	
#attach-hide label, #uploadprogress div.message {
	/* Fading elements in IE causes the text to bleed unless they have a background. */
	background-color: #ffffff;
}

fieldset {
	/* Don't draw backgrounds on fieldsets in IE, as they look really bad. */
	background: none;
}

div.admin .left {
	margin-left:.1em;
}

/** Drupal admin tables **/
.section-admin #content tr.even th,
.section-admin #content tr.even td,
.section-admin #content tr.odd th,
.section-admin #content tr.odd td {
  border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}