﻿/**
*/

/* underline all links */
  a, a:visited
  {
    color: #000 !important;
    text-decoration: underline !important;
  }

  /* Don't underline header */
  #site-title a:link,
  #site-title a:visited
  {
    text-decoration: none !important;
  }

/* CSS2 selector to add visible href after links */
  #main a:link:after,
  #main a:visited:after
  {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }

/* Un-float the content */
  #main,
  #main-inner
  {
    float: none;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

/* Turn off any background colors or images */
  *
  {
    color: #000 !important;;
    font-family:"Times New Roman",Tahoma,Verdana,serif;
    background-color: transparent !important;
    background-image: none !important;
    border:	none !important;
  }

/* Hide sidebars and nav elements */
  .sidebar,
  #mainnav,
  #headerright,
  #footer,
  #dock,
  #site-title span {
    visibility: hidden !important;
    display: none !important;
  }
