﻿/**
 * magazeen theme
 */

/** body **/
body{
	font: 62.5% Arial,Helvetica,Tahoma,Verdana,Sans-Serif;
	line-height:1.9em;
	color:#202020;
	background:#e0edf3;
}

*{
	margin: 0;
	padding: 0;
}

/** width **/
.width340 {
	width:34em;
}

.width580 {
	width:58em;
}

.width940 {
	width:94em;
}

/** block-level elements **/
code {
	width:80%; 
	height:auto;
	font:1.17em Georgia, "Times New Roman", Times, serif;
	color:#0f8eb3;
	margin:1em 0;
}

pre {
	margin:1em auto;
	padding:.5em 0;
	background:#f4f1ec url(images/code.gif) repeat;
	border:.1em solid #bbced7;
	font:0.92em Georgia, "Times New Roman", Times, serif;
	color:#3e3e3e;
	line-height:200%;
}

p, ul, ol, table, fieldset, blockquote {
  margin: 1em 0;
}

blockquote {
	margin:1em auto;
	padding:.5em 2em;
	width:80%;
	height:auto;
	background:#f8fbfc url(images/blockquote.gif) no-repeat top left;
	border:.1em solid #edeff0;
}

/** Heading **/
h1 {
	font-size: 2.5em;
	line-height: 1.3em;
	margin:0.5em 0;
	color:#53798B;
}

h2 {
	font-size: 2em;
	line-height: 1.3em;
	margin:0.5em 0;
	color:#53798B;
}

h3 {
	font-size: 1.8em;
	line-height: 1.3em;
	margin:0.5em 0;
	color:#53798B;
}

h4, h5, h6 {
	font-size: 1.6em;
	line-height: 1.3em;
	margin:0.4em 0;
	color:#53798B;
}

/** Links **/

a {
	color:#f23183;
	text-decoration:none;
}

a:hover {
	color:#000;
}


/** lists **/
/* Drupal overrides */
ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

.block ul, 
.item-list ul {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

ul ul, ul ol,
ol ol, ol ul,
.block ul ul, .block ul ol,
.block ol ol, .block ol ul,
.item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul {
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.item-list ul li {
  margin: 0;
  padding: 0;
  list-style: inherit;
}

ul.menu li, li.leaf,
li.active-trail,
li.collapsed,
li.expanded {
	list-style-image:none;
}

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

dt {
	margin: 0;
	padding: 0;
}

dd {
	margin: .3em 0 0 1.5em;
	padding: 0;
}

/** Inputs **/
input,textarea,select {
	padding:.5em;
	background:#fdfefe url( images/post-box-top.gif) repeat-x top center;
	border:.1em solid #dce7ed;
	font:1.2em Arial, Helvetica, sans-serif;
	color:#76716c;
}

input:focus,textarea:focus,select:hover {
	border:.1em solid #91EAF2;
	color:#000;
}

/** Header **/
#header {
	background:#171615 url( images/header.gif) repeat-x top center;
	border-bottom:.1em solid #4A4D4C;
}

#header-inner{
	margin: auto;
	width: 94em;
}

#header-inner h2{
	color:#B9B9B9;
	font:1em Verdana, Arial, Helvetica, sans-serif;
	margin:0;
}

#header-inner h1{
	font:bold 4.2em Verdana, Arial, Helvetica, sans-serif;
	margin:-.24em 0 0;
}

#header-inner h1 a{
	color:#FEFEFE;
}

#header-inner h1 a:hover{
	color:#d7d7d7;
}

#site-title span {
	background:url(images/gradient.png) repeat-x;
	width:100%;
	height:0.3em;
	margin:0.2em 0 0;
	position:absolute;
	display:block;
	width:10em;
}

#logo,
#site-title {
	float:left;
}

#headerleft {
	float:left;
	padding:6em 0;
}

#headerright {
	float:right;
	padding:6em 0;
}

/** Search box **/
#search-box {
	float:right;
}

#search-theme-form {
	background:none;
}

#search {
	padding:1.8em 0 0;
	margin:0 2em 0 0;
}

#search-input {
	background:url( images/searchform-back.gif) no-repeat center left;
	color:#AEA592;
	font-size:1.1em;
	padding:.6em 1em .6em 2.5em;
	width:14.6em;
	height:1.3em;
	border:none;
}

#search input:focus {
	color:#000;
}

#search .form-submit {
	vertical-align:top;
	border:none;
	background:none;
	padding:0;
}

.search-results p {
	margin:0;
}

#contact-mail-page,
#search-form {
	font-size:1em;
}

/** Main Navigation **/
#mainnav {
	background:#FFF url(images/navigation.gif) repeat-x bottom center;
	border-bottom:.1em solid #FFFFFF;
	border-top:.2em solid #393B3B;
}

#mainnav-inner{
	margin:auto;
	width:94em;
	height:4.2em;
}

#navlist {
	float:left;
}

#navlist ul.menu {
	margin:0 auto; 
	padding:0;
	width:90em;
	height:auto;
	list-style:none;
	float:left;
}
	
#navlist ul li {
	margin:0 .3em; 
	padding:0;
	float:left;
	overflow:visible;
	list-style:none;
	}
		
#rss {
	margin:1.3em 1.5em 0 0; 
	width:1.6em; 
	height:1.7em;
	float:right;
}

#navlist a {
	padding:1em;
	font:bold 1.3em Arial, Helvetica, sans-serif; 
	color:#34393e;
	display:block;
}

#navlist a:hover {
	font-weight:bold; 
	text-decoration:underline;
}

#navlist .active {
	margin:-.3em 0 0 0; 
	padding:1.2em 1em 1em;
	background:#171615 url(images/navigation-hover.gif) repeat-x bottom center;
	color:#f1f8ff; 
	position:relative
}

/** Dock **/
#dock {
	background:#f4f6f8 url(images/dock.gif) repeat-x bottom center;
	border-bottom:.1em solid #fbf9fa;
}

#dock-inner {
	margin:auto;
	width:94em;
}

.dock-back {
	padding:2em 0;
	background:url(images/dock-back.gif) no-repeat bottom center;
}
	
.dock-back .item-list ul{
	margin:0 auto;
	padding:0;
	width:94em;
	list-style:none;
	position:relative;
	text-align:center;
}
		
.dock-back .item-list li {
	margin:0;
	padding:0 0.6em 1.8em 0.7em;
	display:inline;
}
			
.dock-active {
	background:url(images/dock-shadow.png) no-repeat bottom center;
}
			
.dock-back .item-list li a,
.dock-back .item-list li a:active,
.dock-back .item-list li a:visited {
	margin:3em 0 0;
	padding:.16em 0 0 0;
	width:7.5em;
	height:5.8em;
	background:url(images/dock-preview-back.png) no-repeat top center;
	display:inline-block;
	position:relative;
	top:0;
}
					
.dock-back .item-list li span {
	width:70em;
	height:auto;
	position:absolute;
	display:none;
	top:0;
	left:0;
	text-align:center;
	font:bold 1.35em Arial, Helvetica, sans-serif;
	color:#31393d;
}
				
.latest {
	width:71em; 
	text-align:center;
	font:bold 1.35em Arial, Helvetica, sans-serif;
	color:#31393d;
	position:absolute;
}

/* Breadcrumb - The path to the current page in the form of a list of links */
.breadcrumb {
	border-bottom:.1em dotted #C0C0C0;
	margin:0.9em 0 1em;
	font-size:1.2em;
}

/* Message - Important messages (status, warning, and error) for the user */
div.messages, 
div.status,
div.warning,
div.error {
	border:.2em solid #ff7;
	padding:1.2em .5em 1.2em 3.5em;
	margin:0 0 1em;
	color: #000;
	background-color: #ffc;
	background-image: url(images/messages-status.png);
	background-repeat: no-repeat;
	background-position:.5em center;
	font-style: italic;
	font-size:1.2em;
}

/* Normal priority messages */
div.status {
  background-color: #ffc;
  border-color: #ff7;
}

/* Medium priority messages */
div.warning {
  border-color: #fc0;
  background-image: url(images/messages-warning.png);
}

div.warning,
tr.warning,
body.section-admin tr.warning{
  color: #000; /* Drupal core uses #220 */
  background-color: #ffc;
}

/* High priority messages. See also the .error declaration below. */
div.error {
  /* border: .1em solid #d77; */ /* Drupal core uses: .1em solid #d77 */
  border-color: #c00;
  background-image: url(images/messages-error.png);
}

div.error,
tr.error,
body.section-admin tr.error{
  color: #900; /* Drupal core uses #200 */
  background-color: #fee;
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Help text on a page */
.help {
	margin:0 0 2em;
	padding:.8em;
	background:#FFFFDD;
	border: .1em #F0C020 solid;
	font-size:1.2em;
}

/* Tabs */
div.tabs {
  font-size:1.2em;
}

.tabs ul {
	margin:0;
}

ul.secondary {
	background:#fff;
	padding:0.8em 1em;
}

ul.secondary li {
	padding:0;
}

.secondary li a {
	background:#FFF;
	padding:0.3em;
}

.secondary li a:hover {
	background:#F0EEE8;
}

/** Main Content **/
#page {
	border-top:.1em solid #c6dee7;
	border-bottom:1em solid #d0dce2;
}

#page-inner {
	padding:2em 0;
	background:url(images/main-content.gif) no-repeat top center;
	width:94em;
	margin:auto;
}

.main {
	margin:0 auto;
	float:left;
}

.page-taxonomy .main-inner,
.page-node .main-inner,
.front .main-inner {
	background:none;
	border:none;
	padding:0;
	font-size:1em;
}

.post {
  margin-bottom:2.5em;
}

.post-meta {
	margin:0 0 2.3em 0;
	border-bottom:.1em solid #FFF;
	position:relative;
}

.post-meta h3 {
	font:bold 3.2em Arial, Helvetica, sans-serif; 
	color:#30393d;
}

h3 a:link,
h3 a:active,
h3 a:visited {
	color:#30393d;
}
	
h3 a:hover {
	color:#54798b;
}
	
h3.post-title {
	margin:0; 
	width:11.9em; 
	height:auto;
	border-bottom:4px solid #30393d;
	padding:.13em 0;
}

.post-info {
	text-align:right;
	font:1em Georgia, "Times New Roman", Times, serif;
	color:#81888d;
	margin:0;
	padding:1em .5em;
	width:19em;
	height:auto;
	bottom:0;
	right:0;
	position:absolute;
	border-bottom:4px solid #889398;
}

.post-info span {
	font-size:1.4em;
	display:block;
}

.post-info .date {
	font-size:1.1em;
	margin:.2em 0 0;
}

.post-info span a:link,
.post-info span a:active,
.post-info span a:visited {
	color:#1e1c1a;
	text-decoration:none;
}
		
.post-info span a:hover {
	color:#f23183;
}

.post-box {
	background:#fdfefe url(images/post-box-top.gif) repeat-x top center; 
	border-top:0;
	border:1px solid #dce7ed;
	border-bottom:1px solid #cfdbe1;
	border-top:0;
}

.post-content {
	border-bottom:.1em solid #e8ebec;
	padding:2.2em 2.2em 1.1em;
	position:relative;
	background:#FDFEFE url(images/post-box-top.gif) repeat-x scroll center top;
}

.node-form,
.node-type-list,
#node-delete-confirm,
.main-inner {
	background:#FDFEFE url(images/post-box-top.gif) repeat-x scroll center top;
	padding:2.2em 2.2em 1.1em;
	font-size:1.2em;
	margin:0 0 1em;
	padding:1.5em;
}

.comment-count {
	width:auto;
	height:auto;
	background:#f23183;
	position:absolute;
	display:block;
	top:-1em;
	left:-1em;
}

.comment-count a:link,
.comment-count a:active,
.comment-count a:visited {
	padding:.5em 1em;
	font:bold 1.9em Arial, Helvetica, sans-serif;
	color:#FFF;
	display:block;
}

.comment-count a:hover {
	background:#ea2f7e;
}

.post-image, 
.post-image-inner {
	margin:0 auto 1em auto; 
	width:auto;
	height:auto;
	display:block;
}
		
.post-image-inner {
	margin:0 auto 1em 1.5em;
	float:right;
}
		
.post-image img, 
.post-image-inner img {
	margin:0 auto; 
	padding:.3em;
	border-left:.1em solid #e8e8e8; 
	border-right:.1em solid #e8e8e8;
	border-bottom:.1em solid #e7e8e8;
	text-align:center;
	display:	inline-block;
}

.post-intro {
	color:#5E6568;
	font-size: 1.2em;
	line-height: 1.55em;
	margin:1.5em 0;
}

.post-intro strong {
	font:bold 1.33em Arial, Helvetica, sans-serif; 
	color:#30393d;
	line-height:2.1em;
}

.teaser {
	padding:2.2em 2.2em 1.1em;
}

.full  {
	padding:1.5em 2.2em 1.1em;
}

.post-footer {
	padding:2.3em;
	background:#fcfdfe;
	border-top:.1em solid #FFF;
	position:relative;
	z-index:100;
}
	
.continue-reading {
	width:18em; 
	height:auto;
	float:left;
}

.continue-reading a:link,
.continue-reading a:active,
.continue-reading a:visited {
	font:bold italic 1.4em Georgia, "Times New Roman", Times, serif;
	color:#bd4478;
}

.continue-reading a:hover {
	color:#f2307f;
}		

.category-menu {
	width:35em;
	height:auto;
	float:right;
	text-align:right;
	position:absolute; 
	right:1em;
}

.category-menu a {
	display:inline-block;
	height:2.5em;
	outline:0;
	font:1.2em Georgia, "Times New Roman", Times, serif;
	color:#7f7d7e;
}

.indicator {
	width:.7em;
	height:.5em;
	background:url(images/expand.gif) no-repeat center left;
	display:inline-block;
	vertical-align:top;
	margin:.6em 0 0 0;
}

/* Pager - A list of page numbers when more than 1 page of content is available */
.item-list .pager {
	padding:.7em 0 1em;
	font-size:1.1em;
}

.item-list .pager li {
	margin:.2em 0;
	padding:0;
}

.item-list .pager a {
	color:#F2307F;
	background:#fff;
	border:.1em solid #CECECE;
	padding:.5em .7em;
}

.item-list .pager .pager-current {
	background:#EA2F7E;
	border:.1em solid #EA2F7E;
	color:#fff;
	margin:.2em;
	padding:0.5em .7em;
}

.pager a:hover,
.pager a:active,
.pager a:focus {
	color:#fff;
	background:#EA2F7E;
	border-color:#EA2F7E;
}

/** Comment **/
#comments {
	margin:4.5em 0 0;
	position:relative;
}

#comment-head {
	background:#F3F8FA;
	height:1.6em;
	border-color:#FFFFFF #FFFFFF #F3F8FA;
	border-style:solid;
	border-width:.1em;
}

#comments .box {
	padding:1.5em;
	margin:3em 0;
	background:#E0EDF3;
}

.comment {
	padding:3em;	
	border-color:#F3F8FA #FFFFFF #d9e1e6;
	border-style:solid;
	border-width:.1em;
}

.comment-links {
	float:right;
}

.comment-links a {
	font-size:1.1em;
	color:#F9FCFD;
}

#comments .odd {
	background:#F3F8FA;
}

#comments .even {
	background:#F9FCFD url(images/white.gif) repeat-x scroll center bottom;
}

#comments p {
	font-size:1.2em;
}

#comment-form .post-info {
	border-bottom:5px solid #889398;
}

.page-node #comment-form .post-info {
  border-bottom:4px solid #889398;
}
.comment .comment-author {
	width:auto;
	height:auto;
	margin:1em 0;
}
			
.picture {
	margin:0 1em 0 0;
	padding:.1em 0 0 .2em;
	width:4.1em;
	height:4em;
	background:url(images/avatar.gif) no-repeat top center;
	float:left;
}
				
.author {
	font:1.8em Arial, Helvetica, sans-serif;
	color:#3c4d54;
	margin:.2em 0 0 0;
	width:auto;
	height:auto;
	float:left;
}

.author a:link,
.author a:active,
.author a:visited {
	color:#a3aeb2;
}
	
.author .name,
.author .name a:link,
.author .name a:active,
.author .name a:visited {
	color:#6b8894;
	display:inline;
}
	
.author span {
	font:.6em Georgia, "Times New Roman", Times, serif;
}

h3.post-title-small {
	font-size:2.1em;
	margin:0;
	padding:.5em 0;
	width:20em; 
	height:auto;
	border-bottom:.2em solid #30393d;
}

.comment-form {
	background:#fdfefe url(images/post-box-top.gif) repeat-x top center;
	border:.1em solid #dce7ed;
	border-bottom:.1em solid #cfdbe1;
	border-top:0;
	padding:1.5em 2.2em;
	position:relative;
}

.box .comment-form .form-submit {
	margin:0 0 1.5em 0;
	width:11em;
	height:27px;
	background:url(images/submit-comment.gif) no-repeat top center;
	display:inline-block;
	outline:0;
	border:0;
}

.box .comment-form .form-submit:hover {
	background: url(images/submit-comment.gif) no-repeat bottom;
}

.comment-form input{
	width:18.7em;	
}

.comment-form label{
	position:absolute;
	color:#5E6568 !important;
	font-size:0.9em;
	font-weight:normal !important;
	left:29.5em;
	margin:0.5em 0;
}

#edit-comment-wrapper label {
	display:none;
}

.comment-content {
	background:#f3f8fa;
	border-bottom:0;
	padding:0;
}

.comment .date {
	display:block;
}

.comment .new {
	margin:0 0 1em 0.2em;
	position:absolute;
}

.new {
	color:#EA2F7E;
}

.box .post {
	font-size:.9em;
}

.box .post-intro {
	font-size:1.1em;
}
/** Preview page **/
.page-comment .post-title {
	font-size:3em;
	border-bottom:0.13em solid #30393D;
}

.page-comment .full {
	padding:1.5em 0 0;
	border:none;
}

.page-comment .comment-form {
	padding:1.5em 0 0;
	border:none;
	font-size:0.83em;
}

.page-comment .preview p {
	font-size:1.2em;
}

.page-comment .post-box {
	border:none;
}

.page-comment .comment-form label {
	left:27em;
}

/** Side Bar **/
.sidebar {
	float:right;
	margin-right:2em;
	width:32em;
}

.sidebar .block {	
	background:#f5fbfe url(images/sidebar-bottom.gif) no-repeat bottom center;
	margin:0 0 2em 1.6em;
	padding:0 0 5.6em;
}

.sidebar .block h2 {
	padding:1.2em 0 0 1em;
	width:12.5em;
	height:2em;
	background:#f5fbfe url(images/sidebar-top.gif) no-repeat top center;
	font:bold 2.25em Arial, Helvetica, sans-serif;
	color:#587682;
	margin:0;
}

.sidebar .block .content {
	margin:auto;
	width:24.5em;
}

.sidebar ul{
	line-height:1.6em;
	padding:0;
	margin:0;
	list-style:none;
}

.sidebar a.active {
	color:#34393E;
	background: #F3F8FA;
}

.sidebar li a {
	display:block;
	padding:.5em;
	color:#5A656A;
	font:bold 1.4em Arial, Helvetica, sans-serif;
	border-bottom:.1em solid #D9E1E6;
	height: 1%;
}

.sidebar li a:hover{
	background: #F3F8FA;
	color:#34393E;
}

.sidebar ul li{
	padding:0;
	list-style:none;
	margin:0;
}

.sidebar ul li ul{
	padding-left:2em;
	list-style:none;
}

.sidebar-post{
	margin:0 0 1.5em;
	width:auto;
}

.sidebar-preview {
	height:6.5em;
	padding:0.3em 0 0 0.4em;
	width:11em;
	background:#FFF url(images/sidebar-preview-back.gif) no-repeat top center;
	float:left;
}

.sidebar-content {
	width:12em;
	height:auto;
	float:right;
}

.sidebar-content a {
	color:#5A656A;
	font:bold 1.4em Arial, Helvetica, sans-serif;
	display:block;
}
.sidebar-content span {
	margin:.5em 0 0 0;
	font:normal 1em Arial, Helvetica, sans-serif;
	color:#709cb0;
	display:block;
}

.more-link {
	margin:1.3em 0 0;
	position:absolute;
}

.more-link a{
	color:#A6B5BC;
	font:bold 1.4em Arial, Helvetica, sans-serif;
}
.more-link a:hover{
	color:#5A656A;
}

/** Footer **/
#footer {
	margin:0; 
	padding:2.7em 0;
	width:auto;
	height:auto;
	background:#171615 url(images/footer-stroke.gif) repeat-x top center;
	border-top:.1em solid #171615; 
	border-bottom:.1em solid #1e1d1d;
}

.footer-inner {
	background:url(images/footer-divider.gif) repeat-y top left;
	margin:auto;
	width:94em;
}

.footer-left {
	float:left;
	width:34em;
}

.footer-right {
	float:right;
	width:58em;
}

#footer .block {
	background:none;	
}

#footer .block .content {
		margin:0;
		width:100%;
}

#footer h2 {
	background:none;
	font:bold 2.1em Arial, Helvetica, sans-serif;
	color:#fefefe;
	margin:0 0 1em;
}

#footer ul {
	padding:0;
}
	
#footer li {
	background:transparent url(images/footer-cat-left.gif) no-repeat scroll left top;
	float:left;
	height:23px;
	margin:.5em 0;
	padding:0 0 0 .7em;
	width:11.5em;
	font-size:1.3em;
	list-style:none;
}
			
#footer li a {
	background:transparent url(images/footer-cat-right.gif) no-repeat scroll right top;
	display:block;
	float:left;
	height:23px;
	line-height:1.75em;
	margin:0;
	padding:0 .9em 0 0;
	width:auto;
}
				
#footer li a:link,
#footer li a:active,
#footer li a:visited {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#a7a7a7;
}
				
#footer li a:link span,
#footer li a:active span,
#footer li a:visited span {
	color:#FF00FF;
}
				
#footer li:hover,
#footer li:hover a {
	background-position:0% -1.75em;
	color:#171615;
	cursor:pointer;
}
			
#footer li:hover a {
background-position:100% -1.75em;
}
	
.footer-right{
	width:58em;
	height:auto;
	float:right;
}
	
.footer-right p{
	margin:0 0 1em 0;
	font:1.1em Arial, Helvetica, sans-serif;
	color:#b2b2b2;
	line-height:1.5em;
}

p.copyright {
	margin:1em 0 0 0;
	font:.9em Arial, Helvetica, sans-serif;
	color:#404040;
}
	
#link-back {
	padding:1.5em 0;
	background:#0c0b0b;
}

.footer-message {
	height:auto;
	color:#B2B2B2;
	width:94em;
	margin:auto;
}

/** Clearfix **/
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/** Admin **/
.block-region {
	background:none;
	border:.2em dashed #F23183;
	font-size:1.3em;
	padding:1em;
	text-align:center;
}

#system-themes-form {
	font-size:0.8em;
}
/** Drupal forms **/
/* Wrapper for a form element (or group of form elements) and its label */
.form-item, 
.form-checkboxes,
.form-radios {
  margin: 1em 0;
}

select  {
	padding:0;
}
/* Highlight the form elements that caused a form submission error */
.form-item input.error, 
.form-item textarea.error,
.form-item select.error{
  border: .2em solid #c00;
}

/* The label for a form element */
.form-item label {
  display: block;
  font-weight: bold;
  color:#000;
}

/* The label for a radio button or checkbox */
.form-item label.option {
  display: inline;
  font-weight: normal;
}

/* The part of the label that indicates a required field */
.form-required {
  color: #c00;
}

/* The descriptive help text (separate from the label) */
.form-item .description {
  font-size: 0.85em;
}
/* Pack groups of checkboxes and radio buttons closer together */
.form-checkboxes .form-item, 
.form-radios .form-item {
    margin: 0.4em 0;
}

/* The submit button */
.form-submit {
	background:#202020;
	color:#fff;
	font-size:1.2em;
	padding:.3em;
	border:.1em solid #000;
}

.form-submit:hover,
.form-submit:active,
.form-submit:focus {
	cursor: pointer;
	background:#EA2F7E;
	color:#fff;
	border:.1em solid #EA2F7E;
}

/* Focus */
.focus {
	background:#F5FBFE;	
}

.form-item:hover input,
.form-item:hover textarea,
.form-item:hover select {
	color:#000;	
}

.node-form fieldset:hover,
.page-admin fieldset:hover {
	background:#F5FBFE;
}

.form-item .container-inline:hover .form-submit,
.node-form .form-item:hover .form-submit
 {
	color:#fff;	
}

.standard .form-item:hover {
	background:#F5FBFE;
}

/* Inline labels and form divs */
.container-inline div,
.container-inline label {
  display: inline;
}

/* Tips for Drupal's input formats */
.tips {
  margin:0 0 0 1em;
  padding: 0;
  font-size: 0.9em;
}

/** Tables **/
table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: .2em solid #d3e7f4;
  color: #494949;
  font-weight: bold;
}

th a:link, th a:visited {
  color:#30393D;
}

td, th {
  padding: .3em .5em;
}

tr.odd, tr.info {
  background-color: #edf5fa;
  border-bottom:.1em #D3E7F4 solid; 
}

tr.odd .form-item,
tr.even .form-item {
	background:none;
}

tr.odd:hover, tr.info:hover {
	background-color: #DEEDF5;
}

tr.even {
  background-color: #fff;
  border-bottom:.1em #D3E7F4 solid; 
}

tr.even:hover {
	background-color: #FFFFF4;
	color:#000;
}

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

tr.odd td.active {
  background-color: #ddecf5;
}

tr.even td.active {
  background-color: #e6f1f7;
}

td.region, td.module,
td.container, td.category {
  border-top: 1.5em solid #fff;
  background-color: #d4e7f3;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region,
tr:first-child td.module,
tr:first-child td.container,
tr:first-child td.category {
  border-top-width: 0;
}

td.block  {
	background:none;
	border:none;
	padding:0;
}
/* View Admin Link */
.views-admin-links .links{
	width:100%;
	margin:0;
	padding:0;
}

div.view div.views-admin-links a{
	display:inline;
	padding:0;
}

/** Rollover edit links for blocks **/

div.block.with-block-editing {
  position: relative;
}

div.block.with-block-editing div.edit {
  border:.1em solid #eee;
  font-size: .9em;
  background-color: #fff;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
  padding: 0 .2em;
}

div.block.with-block-editing:hover div.edit {
  display: block;
}

/* Animated throbber */
html.js input.form-autocomplete {
  background-image: url(images/throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% .7em; /* LTR */
}
html.js input.throbbing {
  background-position: 100% -1.05em; /* LTR */
}

fieldset,
html.js fieldset.collapsible {
	border: .1em #D9EAF5 solid;
}

html.js fieldset.collapsed {
	border-bottom-width:0;
	border-left-width:0;
	border-right-width:0;
	height:1em;
	margin-bottom:0;
}
div.teaser-button-wrapper input{
	padding:0;
}

/* Profile */
#user-profile-form .picture {
	width:3.4em;
}

.profile .picture {
	float:right;
	margin:0 1em 1em 0;
	width:3.4em;
}

fieldset legend {
	color:#F23183;	
}
/* Hide Display */
.hide {
	display:none;
}

/* Ads */
.sponsored-ad {
	margin:0 0 0 1.7em;
}

.sponsored-ad .ad {
	margin:auto auto .8em .5em;
	font:0.92em Arial, Helvetica, sans-serif;
	color:#9caab1;
}
